@use "@fluidus-ui/tokens/dist/fluidus/css/components/spinner.css";

.fluidus-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.fluidus-spinner {
  display: inline-block;
  width: var(--fluidus-size-spinner-medium);
  height: var(--fluidus-size-spinner-medium);
  animation: rotation 1s linear infinite;
  border: 0.2em solid var(--fluidus-color-spinner-primary);
  border-radius: var(--fluidus-size-radius-circle);
  border-bottom-color: var(--fluidus-color-spinner-secondary);

  &--small {
    width: var(--fluidus-size-spinner-small);
    height: var(--fluidus-size-spinner-small);
    border-width: 0.15em;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
