@use "@fluidus-ui/core/src/scss/fluidus";

.fluidus-heading {
  @include fluidus.typography(heading-medium);

  color: inherit;
  font-family: var(--fluidus-base-font-family-heading);
  font-style: normal;
  font-weight: normal;

  &--xlarge {
    @include fluidus.typography(heading-xlarge);
  }

  &--large {
    @include fluidus.typography(heading-large);
  }

  &--small {
    @include fluidus.typography(heading-small);
  }

  &--xsmall {
    @include fluidus.typography(heading-xsmall);
  }
}
