.fluidus-heading {
  color: inherit;
  font-family: var(--fluidus-base-font-family-heading);
  font-size: var(--fluidus-size-font-heading-medium-font-size);
  font-style: normal;
  font-weight: normal;

  &--xlarge {
    font-size: var(--fluidus-size-font-heading-xlarge-font-size);
  }

  &--large {
    font-size: var(--fluidus-size-font-heading-large-font-size);
  }

  &--small {
    font-size: var(--fluidus-size-font-heading-small-font-size);
  }

  &--xsmall {
    font-size: var(--fluidus-size-font-heading-xsmall-font-size);
  }
}
