.fluidus-paragraph {
  font-size: var(--fluidus-size-font-body-medium-font-size);

  &--large {
    font-size: var(--fluidus-size-font-body-large-font-size);
  }

  &--small {
    font-size: var(--fluidus-size-font-body-small-font-size);
  }

  &--xsmall {
    font-size: var(--fluidus-size-font-body-xsmall-font-size);
  }
}
