.fluidus-paragraph--medium {
  font-size: var(--fluidus-size-font-body-medium-font-size);
}

.fluidus-paragraph--small {
  font-size: var(--fluidus-size-font-body-small-font-size);
}

.fluidus-paragraph--xsmall {
  font-size: var(--fluidus-size-font-body-xsmall-font-size);
}
