$enable-hyphenation: true !default;

@mixin typography-base {
  :is(h1, h2, h3, h4, h5, h6, p) + * {
    margin-top: 1.15em;
  }

  :is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.9em;
  }

  // Typography styles
  body {
    color: var(--fluidus-color-grey-900);
    font-family: var(--fluidus-base-font-family-regular);
    line-height: 1.5;
  }

  // Paragraphs
  p {
    font-size: inherit;
  }

  // Emphasized text
  em,
  i {
    font-style: italic;
    line-height: inherit;
  }

  // Strong/bold text
  strong,
  b {
    font-weight: bold;
    line-height: inherit;
  }

  // Small text
  small {
    @include typography(body-small);

    //font-size: var(--fluidus-size-font-body-small-font-size);
    //line-height: inherit;
  }

  @if $enable-hyphenation == "true" {
    body {
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}

@mixin typography($name) {
  font-size: var(--fluidus-size-font-#{$name}-font-size);
  line-height: var(--fluidus-size-font-#{$name}-line-height);
}
