// @use "@fluidus-ui/tokens/dist/fluidus/css/components/spinner.css";

.fluidus-input-container {
  --text-offset-left: calc(
    var(--fluidus-size-space-xxsmall) + 1px
  ); // 1px due to border

  .fluidus-input {
    width: min(100%, 40ch);
    padding: calc(var(--fluidus-size-space-medium) - 4px)
      var(--fluidus-size-space-xxsmall) var(--fluidus-size-space-xxsmall);
    border: 1px solid var(--fluidus-color-orange-400);
    border-radius: var(--fluidus-size-radius-small);
    font-size: var(--fluidus-size-font-body-small-font-size);

    &:focus {
      outline: var(--fluidus-focus-outline) var(--fluidus-focus-outline-color);
      outline-offset: var(--fluidus-focus-outline-offset);
    }

    &:disabled {
      border-color: var(--fluidus-color-grey-300);
      cursor: not-allowed;
    }

    &--error {
      border-color: var(--fluidus-color-red-500);
    }

    // hide placeholder
    &::placeholder {
      color: rgb(0 0 0 / 0%);
    }
  }

  .fluidus-input-label {
    display: block;
    position: relative;
    max-height: 0;

    // initial state
    &::before {
      content: attr(data-content);
      display: inline-block;
      position: relative;
      bottom: calc(
        (
          (
              var(--fluidus-size-space-medium) +
                var(--fluidus-size-space-xxxsmall) +
                var(--fluidus-size-font-body-small-font-size) + 6px
            ) / 2
        )
      );
      left: var(--text-offset-left);
      transform: translateY(-100%) scale(0.75);
      transform-origin: left top;
      transition: transform 0.2s ease;
      color: var(--fluidus-color-grey-900);
    }
  }

  // (initial) position of the label that shows the placeholder text
  &:has(.fluidus-input:placeholder-shown) .fluidus-input-label::before {
    transform: translateY(-50%);
  }

  // position of the label if focussed
  &:has(.fluidus-input:focus) .fluidus-input-label::before {
    transform: translateY(-100%) scale(0.75);
    color: var(--fluidus-color-grey-700);
  }

  // disabled
  &:has(.fluidus-input:disabled) .fluidus-input-label::before {
    color: var(--fluidus-color-grey-400);
  }

  .fluidus-input-assistive-text,
  .fluidus-input-error-text {
    padding-top: var(--fluidus-size-space-xxxsmall);
    padding-left: var(--text-offset-left);
    font-size: var(--fluidus-size-font-body-xsmall-font-size);
  }

  .fluidus-input-error-text {
    color: var(--fluidus-color-red-500);
  }
}
