html {
  --header-height: 60px;

  background-color: var(fluidus-content-layoutcolor-white);
}

body {
  background: url("/assets/images/background-min.jpeg") no-repeat fixed center;
  background-size: cover;
}
