@use "@fluidus-ui/core/src/scss/fluidus";

.fluidus-textarea-container {
  --text-offset-left: calc(
    var(--fluidus-size-space-xxsmall) + 1px
  ); // 1px due to border

  @include fluidus.typography(body-medium);

  .fluidus-textarea {
    @include fluidus.typography(body-medium);

    display: block;
    width: min(100%, 40ch);
    padding: calc(var(--fluidus-size-space-medium) - 4px)
      var(--fluidus-size-space-xxsmall) var(--fluidus-size-space-xxsmall);
    border: 1px solid var(--fluidus-color-orange-400);
    border-radius: var(--fluidus-size-radius-small);
    font-family: var(--fluidus-base-font-family-base);

    @include fluidus.focus;

    &:disabled {
      border-color: var(--fluidus-color-form-disabled);
      color: var(--fluidus-color-form-disabled-text);
      cursor: not-allowed;
    }

    &--error {
      border-color: var(--fluidus-color-form-error);
    }

    // hide placeholder
    &::placeholder {
      color: rgb(0 0 0 / 0%);
    }
  }

  .fluidus-textarea-label {
    display: block;
    position: relative;
    max-height: 0;

    // initial state
    &::before {
      content: attr(data-content);
      display: inline-block;
      position: relative;
      top: calc(
        (
          (
              var(--fluidus-size-space-medium) +
                var(--fluidus-size-space-xxxsmall) +
                var(--fluidus-size-font-body-small-font-size) + 6px
            ) / 2
        )
      );
      left: var(--text-offset-left);
      transform: translateY(-90%) scale(0.7);
      transform-origin: left top;
      transition: transform 0.2s ease;
    }
  }

  // (initial) position of the label that shows the placeholder text
  &:has(.fluidus-textarea:placeholder-shown) .fluidus-textarea-label::before {
    transform: translateY(-50%);
  }

  // position of the label if focussed
  &:has(.fluidus-textarea:focus) .fluidus-textarea-label::before {
    transform: translateY(-90%) scale(0.7);
  }

  // disabled
  &:has(.fluidus-textarea:disabled) .fluidus-textarea-label::before {
    color: var(--fluidus-color-form-disabled-text);
  }

  .fluidus-assistive-text,
  .fluidus-error-text {
    padding-top: var(--fluidus-size-space-xxsmall);
  }
}
