@use "@fluidus-ui/core/src/scss/fluidus";

.fluidus-button {
  @include fluidus.typography(body-small);

  padding: var(--fluidus-size-space-xxsmall) var(--fluidus-size-space-xsmall);
  transition: all 250ms ease-in-out;
  border: 1px solid transparent;
  border-radius: var(--fluidus-size-radius-small);
  background-color: var(--fluidus-color-orange-500);
  color: var(--fluidus-color-contrast-orange-500);
  line-height: 1;

  @include fluidus.focus;

  &:hover {
    background-color: var(--fluidus-color-orange-300);
    color: var(--fluidus-color-contrast-orange-300);
  }

  &:active {
    background-color: var(--fluidus-color-orange-700);
    color: var(--fluidus-color-contrast-orange-700);
  }

  &:disabled {
    background-color: var(--fluidus-color-grey-100);
    color: var(--fluidus-color-grey-400);
    cursor: not-allowed;
  }
}
