.header {
  position: fixed;
  z-index: 1;
  align-items: center;
  width: 100%;
  min-height: var(--header-height);
  background-color: hsl(0deg 0% 100% / 70%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}
